
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Titljjjjje</title>
</head>
<body>
<p>

{{#each z}}
        <a href="/categories/{{this.name}}"><li>{{this.name}}</a>      <a href="/delete_category/{{this}}">Delete</a></p>
{{/each}}
</p>

</p>
</body>
</html>

