<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>


body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

</style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
    <script type="text/javascript">
function get_value() {
  var x = document.getElementById("cat").value;
  alert(x);
}

</script>
</head>
<body>

<div class="sidebar">
    <a class="active" href="/admin?page=1">Home</a>
    <a href="#">Posts only</a>
    <a href="/category">Categories Only</a>
</div>

<div class="content">

<h2>Categories are</h2>
    <button type="button" class="btn btn-success"><a href="/category/new">Create new category</a></button>

    <div class="row">
        <div class="col-4">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Categories</th>
                    <th scope="col" >Option</th>
                </tr>
                </thead>
                <tbody>
{{#each z}}
    <td> <a href="/categories/{{this.id}}">{{this.name}}</td>     &nbsp;
    &nbsp;  <td><a href="/delete_category/{{this}}">Delete</a> &nbsp
    <a href="/category/{{this.id}}/edit">Update </a> &nbsp;  </td>
    </tr>
{{/each}}

                </tbody>
            </table>


</div>
        <button type="button"> <a href="/logout">Logout</a></button>

    </div>
</div>
</body>
</html>

