
<head>
    <link rel="stylesheet" href="login.css">
</head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<form class="form-signin" action="http://localhost:8080/login-success" method="post">




                <label for="uname" ><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username"  class="form-control"  required><br>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password"  class="form-control" required><br>


                <button>login</button>
                <p class="message">Not registered? <a href="/register">Create an account</a></p>
            </form>
        </div>
    </div>


<!--&lt;!&ndash;    <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="form-group">&ndash;&gt;-->

<!--&lt;!&ndash;        <label for="uname"><b>Username</b></label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" placeholder="Enter Username" name="username" required><br>&ndash;&gt;-->

<!--&lt;!&ndash;        <label for="psw"><b>Password</b></label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="password" placeholder="Enter Password" name="password" required><br>&ndash;&gt;-->

<!--&lt;!&ndash;        <button type="submit">Login</button>&ndash;&gt;-->

<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
