
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>


body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}


.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


.dropbtns {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtns:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdowns {
  position: relative;
  display: inline-block;
}

.dropdown-contents {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-contents a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdowns a:hover {background-color: #ddd;}

.show {display: block;}

       .sidebars {
      width: 200px;
      height: 100vh;
      background-color: #f1f1f1;
      padding: 20px;
      float: left;
    }

    /* Sidebar links */
    .sidebars a {
      display: block;
      color: #000;
      padding: 8px 16px;
      text-decoration: none;
    }

    /* Active link */
    .sidebars a.active {
      background-color: #4CAF50;
      color: white;
    }

    /* Dropdown menu */
    .sidebars .dropdown-contenting {
      display: none;
      padding-left: 20px;
    }

    .sidebars .dropdown-contenting a {
      padding: 5px 0;
    }

    /* Show dropdown menu on hover */
    .sidebars .dropdown:hover .dropdown-contenting {
      display: block;
    }

    /* Content */
    .content {
      margin-left: 220px; /* Adjust the value to match the sidebar width */
      padding: 20px;
    }



</style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}

function myFunctions() {
  document.getElementById("myDropdowns").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtns')) {
    var dropdowns = document.getElementsByClassName("dropdown-contents");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}

function myFunctionForDelete(){
 confirm("Do want to delete the post!");
  window.location.assign("http:/localhost:8080/admin/post/delete/{{this.id}}/edit")

}




</script>
</head>
<body>
<div class="sidebars">
    <a class="active" href="/admin">Home</a>
    <a href="/admin/categories">Manage Categories</a>
    <div class="dropdown">
        <a href="#">Categories</a>
        <div class="dropdown-contenting">
            {{#each o}}
                <a href="http://localhost:8080/admin/categories/{{this.id}}?page=1"><strong>{{this.name}}</strong></a>
            {{/each}}
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-danger" class="btn btn-default btn-sm">
    <a href="/logout">
        <span class="glyphicon glyphicon-log-out"></span> Log out</a></button>
</div>

<div class="content">
    <div class="jumbotron text-center">
        <a href="/admin"><h1>Blog</h1></a>
    </div>


    <form action="http://localhost:8080/admin/categories/new" method="post">
    <input type="text" name="name" placeholder="name" class="form-control"><br>
    <input type="submit" value="Submit">
</form>
</div>

</body>
</html>
