<!DOCTYPE html>
<html>
<head>
    <title>update POST Form</title>
</head>


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<body>
<p>
  {{to_be_updated_post}}
</p>
<form action="http://localhost:8080/posts/{{to_be_updated_post}}/edit_complete" method="post">
<!--    <input type="text" name="title" value="{{to_be_updated_post}}" placeholder="title"><br>-->
    <input type="text" name="id" placeholder="id"  class="form-control"><br>
    <input type="text" name="title" placeholder="title"  class="form-control"><br>
    <input type="text" name="description" placeholder="description"  class="form-control"><br>
    <input type="text" name="category_id" placeholder="category_id"  class="form-control"><br>
    <input type="submit" value="Submit">


</form>
</body>
</html>
